In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts.iloc[8:].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_type_counts = application_df['CLASSIFICATION'].value_counts()
classification_type_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifiedcountgreat1 = classification_type_counts.loc[classification_type_counts > 1]
classifiedcountgreat1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_type_counts.iloc[5:].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
converted = pd.get_dummies(application_df)
converted.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = converted["IS_SUCCESSFUL"]
X = converted.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# input layer is the number of columns in X_train
inputlayer = 43
# hidden layer 1 was given by instructor
hiddennode1 = 80
# hidden layer 2 was given by instructor
hiddennode2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hiddennode1, input_dim = inputlayer, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hiddennode2, input_dim = inputlayer, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 855us/step - loss: 0.5751 - accuracy: 0.7171
Epoch 2/100
804/804 [==============================] - 1s 831us/step - loss: 0.5553 - accuracy: 0.7273
Epoch 3/100
804/804 [==============================] - 1s 783us/step - loss: 0.5530 - accuracy: 0.7301
Epoch 4/100
804/804 [==============================] - 1s 781us/step - loss: 0.5513 - accuracy: 0.7319
Epoch 5/100
804/804 [==============================] - 1s 773us/step - loss: 0.5498 - accuracy: 0.7329
Epoch 6/100
804/804 [==============================] - 1s 761us/step - loss: 0.5488 - accuracy: 0.7326
Epoch 7/100
804/804 [==============================] - 1s 825us/step - loss: 0.5479 - accuracy: 0.7319
Epoch 8/100
804/804 [==============================] - 1s 767us/step - loss: 0.5479 - accuracy: 0.7321
Epoch 9/100
804/804 [==============================] - 1s 784us/step - loss: 0.5471 - accuracy: 0.7314
Epoch 10/100
804/804 [==============================] - 1s 758us/step - loss: 0.5463 - accuracy: 0.7308
Epoch 11/100
804/804 [==============================] - 1s 760us/step - loss: 0.5457 - accuracy: 0.7337
Epoch 12/100
804/804 [==============================] - 1s 776us/step - loss: 0.5462 - accuracy: 0.7333
Epoch 13/100
804/804 [==============================] - 1s 788us/step - loss: 0.5450 - accuracy: 0.7336
Epoch 14/100
804/804 [==============================] - 1s 769us/step - loss: 0.5448 - accuracy: 0.7354
Epoch 15/100
804/804 [==============================] - 1s 768us/step - loss: 0.5442 - accuracy: 0.7341
Epoch 16/100
804/804 [==============================] - 1s 791us/step - loss: 0.5441 - accuracy: 0.7352
Epoch 17/100
804/804 [==============================] - 1s 762us/step - loss: 0.5435 - accuracy: 0.7357
Epoch 18/100
804/804 [==============================] - 1s 818us/step - loss: 0.5432 - accuracy: 0.7365
Epoch 19/100
804/804 [==============================] - 1s 810us/step - loss: 0.5431 - accuracy: 0.7355
Epoch 20/100
804/804 [==============================] - 1s 812us/step - loss: 0.5429 - accuracy: 0.7357
Epoch 21/100
804/804 [==============================] - 1s 787us/step - loss: 0.5429 - accuracy: 0.7350
Epoch 22/100
804/804 [==============================] - 1s 780us/step - loss: 0.5422 - accuracy: 0.7351
Epoch 23/100
804/804 [==============================] - 1s 826us/step - loss: 0.5418 - accuracy: 0.7357
Epoch 24/100
804/804 [==============================] - 1s 843us/step - loss: 0.5420 - accuracy: 0.7371
Epoch 25/100
804/804 [==============================] - 1s 796us/step - loss: 0.5419 - accuracy: 0.7371
Epoch 26/100
804/804 [==============================] - 1s 765us/step - loss: 0.5411 - accuracy: 0.7367
Epoch 27/100
804/804 [==============================] - 1s 777us/step - loss: 0.5410 - accuracy: 0.7369
Epoch 28/100
804/804 [==============================] - 1s 771us/step - loss: 0.5410 - accuracy: 0.7369
Epoch 29/100
804/804 [==============================] - 1s 833us/step - loss: 0.5403 - accuracy: 0.7365
Epoch 30/100
804/804 [==============================] - 1s 773us/step - loss: 0.5405 - accuracy: 0.7385
Epoch 31/100
804/804 [==============================] - 1s 784us/step - loss: 0.5404 - accuracy: 0.7366
Epoch 32/100
804/804 [==============================] - 1s 771us/step - loss: 0.5405 - accuracy: 0.7373
Epoch 33/100
804/804 [==============================] - 1s 778us/step - loss: 0.5402 - accuracy: 0.7366
Epoch 34/100
804/804 [==============================] - 1s 784us/step - loss: 0.5398 - accuracy: 0.7364
Epoch 35/100
804/804 [==============================] - 1s 775us/step - loss: 0.5397 - accuracy: 0.7381
Epoch 36/100
804/804 [==============================] - 1s 777us/step - loss: 0.5396 - accuracy: 0.7380
Epoch 37/100
804/804 [==============================] - 1s 758us/step - loss: 0.5391 - accuracy: 0.7370
Epoch 38/100
804/804 [==============================] - 1s 777us/step - loss: 0.5391 - accuracy: 0.7383
Epoch 39/100
804/804 [==============================] - 1s 784us/step - loss: 0.5393 - accuracy: 0.7382
Epoch 40/100
804/804 [==============================] - 1s 773us/step - loss: 0.5393 - accuracy: 0.7380
Epoch 41/100
804/804 [==============================] - 1s 768us/step - loss: 0.5386 - accuracy: 0.7381
Epoch 42/100
804/804 [==============================] - 1s 766us/step - loss: 0.5389 - accuracy: 0.7377
Epoch 43/100
804/804 [==============================] - 1s 751us/step - loss: 0.5383 - accuracy: 0.7383
Epoch 44/100
804/804 [==============================] - 1s 762us/step - loss: 0.5383 - accuracy: 0.7382
Epoch 45/100
804/804 [==============================] - 1s 844us/step - loss: 0.5382 - accuracy: 0.7392
Epoch 46/100
804/804 [==============================] - 1s 866us/step - loss: 0.5383 - accuracy: 0.7388
Epoch 47/100
804/804 [==============================] - 1s 906us/step - loss: 0.5377 - accuracy: 0.7388
Epoch 48/100
804/804 [==============================] - 1s 929us/step - loss: 0.5377 - accuracy: 0.7394
Epoch 49/100
804/804 [==============================] - 1s 900us/step - loss: 0.5380 - accuracy: 0.7386
Epoch 50/100
804/804 [==============================] - 1s 967us/step - loss: 0.5375 - accuracy: 0.7392
Epoch 51/100
804/804 [==============================] - 1s 909us/step - loss: 0.5377 - accuracy: 0.7391
Epoch 52/100
804/804 [==============================] - 1s 907us/step - loss: 0.5374 - accuracy: 0.7395
Epoch 53/100
804/804 [==============================] - 1s 872us/step - loss: 0.5375 - accuracy: 0.7392
Epoch 54/100
804/804 [==============================] - 1s 870us/step - loss: 0.5376 - accuracy: 0.7390
Epoch 55/100
804/804 [==============================] - 1s 857us/step - loss: 0.5368 - accuracy: 0.7383
Epoch 56/100
804/804 [==============================] - 1s 856us/step - loss: 0.5373 - accuracy: 0.7391
Epoch 57/100
804/804 [==============================] - 1s 927us/step - loss: 0.5374 - accuracy: 0.7387
Epoch 58/100
804/804 [==============================] - 1s 874us/step - loss: 0.5369 - accuracy: 0.7385
Epoch 59/100
804/804 [==============================] - 1s 905us/step - loss: 0.5372 - accuracy: 0.7386
Epoch 60/100
804/804 [==============================] - 1s 889us/step - loss: 0.5368 - accuracy: 0.7395
Epoch 61/100
804/804 [==============================] - 1s 848us/step - loss: 0.5365 - accuracy: 0.7393
Epoch 62/100
804/804 [==============================] - 1s 864us/step - loss: 0.5368 - accuracy: 0.7383
Epoch 63/100
804/804 [==============================] - 1s 876us/step - loss: 0.5365 - accuracy: 0.7393
Epoch 64/100
804/804 [==============================] - 1s 873us/step - loss: 0.5367 - accuracy: 0.7392
Epoch 65/100
804/804 [==============================] - 1s 849us/step - loss: 0.5361 - accuracy: 0.7399
Epoch 66/100
804/804 [==============================] - 1s 892us/step - loss: 0.5363 - accuracy: 0.7393
Epoch 67/100
804/804 [==============================] - 1s 862us/step - loss: 0.5366 - accuracy: 0.7392
Epoch 68/100
804/804 [==============================] - 1s 865us/step - loss: 0.5362 - accuracy: 0.7397
Epoch 69/100
804/804 [==============================] - 1s 913us/step - loss: 0.5364 - accuracy: 0.7391
Epoch 70/100
804/804 [==============================] - 1s 845us/step - loss: 0.5359 - accuracy: 0.7393
Epoch 71/100
804/804 [==============================] - 1s 830us/step - loss: 0.5362 - accuracy: 0.7397
Epoch 72/100
804/804 [==============================] - 1s 830us/step - loss: 0.5361 - accuracy: 0.7398
Epoch 73/100
804/804 [==============================] - 1s 948us/step - loss: 0.5361 - accuracy: 0.7397
Epoch 74/100
804/804 [==============================] - 1s 943us/step - loss: 0.5360 - accuracy: 0.7391
Epoch 75/100
804/804 [==============================] - 1s 960us/step - loss: 0.5358 - accuracy: 0.7404
Epoch 76/100
804/804 [==============================] - 1s 928us/step - loss: 0.5355 - accuracy: 0.7397
Epoch 77/100
804/804 [==============================] - 1s 866us/step - loss: 0.5356 - accuracy: 0.7402
Epoch 78/100
804/804 [==============================] - 1s 914us/step - loss: 0.5351 - accuracy: 0.7400
Epoch 79/100

804/804 [==============================] - 1s 882us/step - loss: 0.5360 - accuracy: 0.7385
Epoch 80/100
804/804 [==============================] - 1s 840us/step - loss: 0.5357 - accuracy: 0.7397
Epoch 81/100
804/804 [==============================] - 1s 910us/step - loss: 0.5351 - accuracy: 0.7390
Epoch 82/100
804/804 [==============================] - 1s 891us/step - loss: 0.5355 - accuracy: 0.7400
Epoch 83/100
804/804 [==============================] - 1s 896us/step - loss: 0.5355 - accuracy: 0.7404
Epoch 84/100
804/804 [==============================] - 1s 917us/step - loss: 0.5351 - accuracy: 0.7399
Epoch 85/100
804/804 [==============================] - 1s 884us/step - loss: 0.5351 - accuracy: 0.7399
Epoch 86/100
804/804 [==============================] - 1s 813us/step - loss: 0.5355 - accuracy: 0.7399
Epoch 87/100
804/804 [==============================] - 1s 814us/step - loss: 0.5355 - accuracy: 0.7390
Epoch 88/100
804/804 [==============================] - 1s 793us/step - loss: 0.5349 - accuracy: 0.7398
Epoch 89/100
804/804 [==============================] - 1s 831us/step - loss: 0.5349 - accuracy: 0.7398
Epoch 90/100
804/804 [==============================] - 1s 821us/step - loss: 0.5357 - accuracy: 0.7404
Epoch 91/100
804/804 [==============================] - 1s 822us/step - loss: 0.5351 - accuracy: 0.7393
Epoch 92/100
804/804 [==============================] - 1s 805us/step - loss: 0.5348 - accuracy: 0.7401
Epoch 93/100
804/804 [==============================] - 1s 795us/step - loss: 0.5349 - accuracy: 0.7397
Epoch 94/100
804/804 [==============================] - 1s 808us/step - loss: 0.5349 - accuracy: 0.7397
Epoch 95/100
804/804 [==============================] - 1s 841us/step - loss: 0.5351 - accuracy: 0.7400
Epoch 96/100
804/804 [==============================] - 1s 960us/step - loss: 0.5350 - accuracy: 0.7392
Epoch 97/100
804/804 [==============================] - 1s 912us/step - loss: 0.5348 - accuracy: 0.7407
Epoch 98/100
804/804 [==============================] - 1s 876us/step - loss: 0.5343 - accuracy: 0.7396
Epoch 99/100
804/804 [==============================] - 1s 780us/step - loss: 0.5346 - accuracy: 0.7390
Epoch 100/100
804/804 [==============================] - 1s 825us/step - loss: 0.5347 - accuracy: 0.7399

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5586 - accuracy: 0.7285 - 269ms/epoch - 1ms/step
Loss: 0.5586424469947815, Accuracy: 0.7285131216049194

Optimization

In [16]:
pip install -q keras-tuner

Note: you may need to restart the kernel to use updated packages.

In [17]:
# import the keras-tuner modules
import keras_tuner as kt

In [18]:
# make the function for hypertuning the deep learning models

def makeDLModel(hp):

  # set up the sequential model
  nnModel = tf.keras.models.Sequential()

  # set up the choices for the activation functions needed in the hidden layers
  activationList = hp.Choice('activation', ['relu', 'tanh', 'sigmoid'])

  # loop through a number of attributes on the first layer - input_dim = 43, loop through 1 - 20 neurons on next layer

  nnModel.add(
      tf.keras.layers.Dense(
          input_dim=43,
          activation=activationList,
          units=hp.Int('first_units', min_value=1, max_value=20)
      )
  )

  # test different numbers of layers as well as neurons on those hidden layers
  for num in range(hp.Int('num_layers', 1, 21)):

    # add the layer (or layers) with a neuron (or neurons) on each layer
    nnModel.add(
        tf.keras.layers.Dense(
            activation=activationList,
            units=hp.Int(
                'units_' + str(num),
                min_value=1,
                max_value=20
            )
        )
    )

  # set up the output layer (1 node)
  nnModel.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

  # compile the model
  nnModel.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

  # return the model to used in the iteration
  return nnModel

In [19]:
# use kt Hyperband function to run the optimizer
tunerModel = kt.Hyperband(
    makeDLModel,
    objective='val_accuracy',
    max_epochs=100,
    hyperband_iterations=2
)

In [20]:
# use the .search() function to find the best combo of hyperparameters
tunerModel.search(X_train_scaled, y_train, epochs=25, validation_data=[X_test_scaled, y_test])

Trial 508 Complete [00h 02m 04s]
val_accuracy: 0.5292128324508667

Best val_accuracy So Far: 0.73399418592453
Total elapsed time: 01h 58m 24s
INFO:tensorflow:Oracle triggered exit

In [21]:
# get the best hyperparameters
tunerModel.get_best_hyperparameters(1)[0].values

{'activation': 'sigmoid',
 'first_units': 7,
 'num_layers': 4,
 'units_0': 2,
 'units_1': 8,
 'units_2': 13,
 'units_3': 8,
 'units_4': 14,
 'units_5': 13,
 'units_6': 14,
 'units_7': 13,
 'units_8': 17,
 'units_9': 6,
 'units_10': 12,
 'units_11': 18,
 'units_12': 6,
 'units_13': 10,
 'units_14': 10,
 'units_15': 13,
 'units_16': 4,
 'units_17': 10,
 'units_18': 19,
 'units_19': 18,
 'units_20': 3,
 'tuner/epochs': 2,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 4,
 'tuner/round': 0}

In [23]:
# use get_best_models to evaluate the model loss and accuracy
bestDLModel = tunerModel.get_best_models(1)[0]

DLModel02Loss, DLModel02Accuracy = bestDLModel.evaluate(X_test_scaled, y_test)

WARNING:tensorflow:Detecting that an object or model or tf.train.Checkpoint is being deleted with unrestored values. See the following logs for the specific values in question. To silence these warnings, use `status.expect_partial()`. See https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint#restorefor details about the status object returned by the restore function.
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.1
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.2
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.3
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.4
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.5
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.6
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.7
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.8
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.9
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.10
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.11
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.12
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.13
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.14
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.15
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.16
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.17
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.18
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.19
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.20
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.21
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.22
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.23
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.24
268/268 [==============================] - 0s 723us/step - loss: 0.5756 - accuracy: 0.7340

In [24]:
# import the load and save model modules from keras.models
from tensorflow.keras.models import load_model, save_model

In [34]:
# export the best deep learning model as an H5 file
bestDLModel.save('AlphabetSoupCharity_Optimization.h5')

In [35]:
# load the deep learning model
newDeepLearningModel = load_model('AlphabetSoupCharity_Optimization.h5')

In [36]:
# generated a list of predictions using the loaded model put into an array
AlphabetSoupCharityOp = newDeepLearningModel.predict(X_test_scaled)

268/268 [==============================] - 0s 551us/step

In [37]:
# make the array a data frame
AlphaOp = pd.DataFrame(AlphabetSoupCharityOp, columns={'index'})
# sort the data frame by the best prediction value
AlphaOpSort = AlphaOp.sort_values(by=['index'], ascending=False)
# display the dataframe
AlphaOpSort.head()

         index
3967  0.743778
7923  0.743778
4831  0.743778
2262  0.743778
362   0.743777